header {
  // padding: 100px;
  // @apply bg-primary;
  // @apply bg-gray-900;

  .badge {
    .ant-btn {
      background: none;
    }
  }

  .nav-btn {
    &.ant-btn {
      background: none;
      &:hover {
        // background-color: purple !important;
      }
      @apply text-alt border border-alt hover:bg-primary;
    }
  }
  &::after {
    content: '';
    @apply bg-gray-900/80;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    // background-color: rgba(255, 255, 255, 0.07);
    @apply bg-gray-900/90;
    backdrop-filter: blur(35px);
  }
}
