.formInput.ant-form-item{
    flex: 1;
    .ant-col{

    
        .ant-input-affix-wrapper, 
            input{
                background: none;
                @apply border border-alt py-3 text-white;

                &::placeholder{
                    @apply text-gray-500;
                }
                &.ant-input-password{
                    // background: red;
                    padding: 0 6px;
          
                }
            }
             

        // }
        .ant-input-number-input-wrap{
            @apply border border-alt  text-white;
        }
    

    }
    .ant-form-item-control{
        width: 100%;
        .ant-input{
            // padding: 10px;
        }
    }

    &.whiteBg{
        .ant-col{
  
   
                input{
                    background: none;
                    @apply border border-alt text-black;
    
                    &::placeholder{
                        @apply text-gray-500;
                    }

                    &.ant-input-number{
                        background: none;
                        @apply border border-alt text-black;


                    }
    
                }
     
    
        }
        .ant-form-item-control{
            width: 100%;
            .ant-input{
                // padding: 10px;
            }
        }
    }

}