.hero-header {
  background: linear-gradient(#2f3b698a, #02061ad8), url('/backgrounds/home-banner.webp');
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  // margin-top: 10px;
}
